.booking-form {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/form/form_background_desktop.jpg");
  background-size: cover;
  background-color: $color-solitude;
  background-position: center;

  @include retina {
    background-image: url("../img/form/form_background_desktop@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 100px;
    background-image: url("../img/form/form_background_tablet.jpg");
    box-shadow: none;

    @include retina {
      background-image: url("../img/form/form_background_tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 59px;
    padding-bottom: 64px;
    background-image: url("../img/form/form_background_mobile.jpg");

    @include retina {
      background-image: url("../img/form/form_background_mobile@2x.jpg");
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include vp-1023 {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    margin-left: 60px;
    padding-top: 162px;
    width: 50%;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 62%;
      max-width: 420px;
      margin-bottom: 54px;
      margin-left: 0;
      padding: 0;
      text-align: center;
    }

    @include vp-767 {
      width: 100%;
      max-width: unset;
      margin-bottom: 35px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 9px;
      font-size: 40px;
      line-height: 60px;

      @include vp-1023 {
        margin-bottom: 3px;
        font-size: 34px;
        line-height: 51px;
      }

      @include vp-767 {
        margin-bottom: 13px;
        font-size: 24px;
        line-height: 31px;
      }
    }

    p {
      font-size: 18px;
      line-height: 27px;
      margin: 0;
      padding-right: 200px;

      @include vp-1023 {
        padding: 0 20px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 22px;
        padding: 0 10px;
      }
    }

    br {
      display: none;

      @include vp-374 {
        display: block;
      }
    }
  }

  &__inner {
    width: 403px;
    min-width: 403px;
    margin-left: 56px;
    padding: 44px 49px 50px;
    background-color: $color-tangaroa;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      width: 100%;
      min-width: unset;
      padding: 35px 30px 40px 30px;
    }
  }
}
