.card {
  position: relative;
  height: 386px;
  overflow: hidden;
  list-style: none;

  h3 {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-1023 {
      padding: 0;
    }
  }

  > h3 {
    position: absolute;
    bottom: 2px;
    left: 30px;
    z-index: 1;

    @include vp-1023 {
      bottom: 6px;
      left: 35px;
    }

    @include vp-767 {
      bottom: -2px;
      left: 25px;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;

      @include vp-767 {
        object-position: unset;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 386px;
    opacity: 0;
    padding: 28px 25px 35px;
    background-color: transparent;

    @include vp-1023 {
      padding: 25px 35px 35px;
    }

    @include vp-767 {
      padding: 35px 25px;
    }

    h3 {
      margin-bottom: 15px;
    }

    dl {
      margin-top: 2px;
    }

    dt {
      font-weight: 500;
      font-size: 14px;
      color: $color-alice-blue;
    }

    dd {
      margin-left: 0;
      margin-bottom: 12px;
      font-size: 14px;
      color: $color-quartz;
    }
  }

  &__wrapper {
    z-index: -1;
    margin-bottom: 13px;
    scrollbar-width: thin;
    scrollbar-color: $color-default-white rgba($color: $color-default-white, $alpha: 0.2);

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: $color-default-white, $alpha: 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-default-white;
      border-radius: 20px;
    }
  }

  &__button {
    margin-top: auto;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-tangaroa;
    text-align: center;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 0 25px $color-summer-sky;

    .card__content {
      z-index: 1;
      opacity: 1;
      margin-top: 0;
      background-color: $color-tangaroa;
    }

    .card__wrapper {
      overflow-y: auto;
    }

    h3 {
      @include vp-1023 {
        margin-top: 4px;
      }

      @include vp-767 {
        margin-top: -7px;
      }
    }
  }
}
