.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 65px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include vp-1023 {
      gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 9px;
    }
  }

  &__map {
    width: 100%;
    height: 306px;
    background-image: url("../img/map/map_desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/map/map_desktop@2x.png");
    }

    @include vp-1023 {
      height: 335px;
      background-image: url("../img/map/map_tablet.png");
      box-shadow: none;

      @include retina {
        background-image: url("../img/map/map_tablet@2x.png");
      }
    }

    @include vp-767 {
      height: 316px;
      background-image: url("../img/map/map_mobile.png");
      order: 1;

      @include retina {
        background-image: url("../img/map/map_mobile@2x.png");
      }
    }
  }

  &__info {
    padding-top: 75px;
    padding-left: 60px;

    @include vp-1023 {
      padding-top: 66px;
      padding-left: 0;
    }

    @include vp-767 {
      order: 0;
      padding-top: 0;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 31px;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;

      @include vp-1023 {
        margin-bottom: 25px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 23px;
      list-style: none;
    }

    svg {
      min-width: 18px;
    }

    svg:nth-child(1) {
      @include vp-1023 {
        margin-bottom: 10px;
      }
    }

    a {
      margin-left: 10px;

      @include hover-focus {
        text-decoration: underline;
      }

      @include active {
        text-decoration: underline;
        opacity: 0.5;
      }
    }

    span {
      margin-left: 10px;
      line-height: 24px;

      @include vp-1023 {
        padding-right: 10px;
      }

      @include vp-767 {
        padding-right: 0;
      }
    }
  }
}
