.form {
  h3 {
    margin-top: 0;
    margin-bottom: 27px;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 43px;
      padding: 8px 16px;
      border: 1px solid transparent;

      &::placeholder {
        font-size: 14px;
        line-height: 21px;
        color: $color-tangaroa-70;
      }
    }
  }

  &__toggle {
    width: 100%;
    color: $color-alice-blue;

    label {
      font-size: 10px;
      line-height: 13px;
    }

    input[type="checkbox"] + label {
      position: relative;
      display: flex;
      align-items: center;
      height: 20px;
      margin-bottom: 28px;
      padding-left: 23px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: $color-alice-blue;
      }
    }

    input[type="checkbox"]:checked + label {
      &::after {
        content: "";
        position: absolute;
        left: 3px;
        top: 5px;
        width: 10px;
        height: 6px;
        border-left: 1px solid $color-sapphire;
        border-bottom: 1px solid $color-sapphire;
        transform: rotate(-45deg);
      }
    }
  }

  &__button {
    justify-content: center;
    width: 100%;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-tangaroa;
  }
}
