.form {
  h3 {
    margin-top: 0;
    margin-bottom: 27px;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-767 {
      line-height: 25px;
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    @include hover {
      input {
        box-shadow: 0 0 25px $color-summer-sky;
      }
    }

    @include focus {
      input {
        box-shadow: 0 0 25px $color-summer-sky;
      }
    }

    input {
      width: 100%;
      height: 43px;
      padding: 8px 16px;
      border: 1px solid transparent;

      &::placeholder {
        font-size: 14px;
        line-height: 21px;
        color: $color-tangaroa-70;
      }
    }
  }

  &__toggle {
    width: 100%;
    color: $color-alice-blue;

    label {
      font-size: 10px;
      line-height: 13px;
    }

    input[type="checkbox"] + label {
      position: relative;
      display: flex;
      align-items: center;
      height: 20px;
      margin-bottom: 28px;
      padding-left: 23px;
      cursor: pointer;

      @include vp-767 {
        margin-bottom: 30px;
        padding-left: 28px;
      }

      @include hover {
        &::before {
          box-shadow: 0 0 12px $color-summer-sky;
        }
      }

      @include active {
        &::before {
          box-shadow: 0 0 12px $color-summer-sky;
          opacity: 0.7;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: $color-alice-blue;

        @include vp-767 {
          width: 20px;
          height: 20px;
        }
      }
    }

    input[type="checkbox"]:focus + label {
      &::before {
        box-shadow: 0 0 12px $color-summer-sky;
      }
    }

    input[type="checkbox"]:checked + label {
      &::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 4px;
        width: 10px;
        height: 6px;
        border-left: 1px solid $color-sapphire;
        border-bottom: 1px solid $color-sapphire;
        transform: rotate(-45deg);

        @include vp-767 {
          top: 6px;
        }
      }
    }
  }

  &__button {
    justify-content: center;
    width: 100%;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-tangaroa;
  }
}
